<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>读者界面</title>
    <script src="../statics/js/jquery-3.5.1.js"></script>
    <script src="../statics/js/book.js"></script>
    <link type="text/css" href="../statics/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../statics/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="../statics/css/theme.css" rel="stylesheet">
    <link type="text/css" href="../statics/images/icons/css/font-awesome.css" rel="stylesheet">
    <!--link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
        rel='stylesheet'-->
        
    <script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    });
    $(function () {
      $("body").height($(window).height());
      $("body").width($(window).width());
      $(window).resize(function () {
        $("body").height($(window).height());
        $("body").width($(window).width());
      })
    })
    </script>

  <style type="text/css">
    .mytable{table-layout: fixed; background-color: #ffffd9; BORDER-COLLAPSE: collapse;}
    .mytd{word-break: break-all; word-wrap: break-word;}
    html, body {height: 100%; width: 100%;}
  </style>
</head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <i class="icon-reorder shaded"></i></a><a class="brand">读者操作界面 </a>
          
          <!-- /.nav-collapse -->
        </div>
      </div>
      <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
  <!--顶栏卸载和添加-->
<div class="wrapper">
  <div class="container">
  <div class="row">
  <!--这三个div还没有结尾-->
  <div class="span3 sidebar">
    <!--module2:读者信息-->
<div class="module">
  <div class="module-head">
    <h3>输入你的姓名或uid</h3>
  </div>
  <div class="module-body">
<table class="widget widget-menu unstyled" id="opTable">
  <tr>
    <td >
      <table>
        <tr><td >
          <iframe id="submitFrame" style="display: none; width:100%; height:100%" name="submitFrame" src="about:blank"></iframe>
        <!--增加书籍-->
        <form id="inputForm" target="submitFrame"><fieldset>
            {% csrf_token %}
            
            <table>
                <tr>
                    <td>
                      <input type="text" name="username" id="username" placeholder="Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                      <input type="text" name="uid" id="uid" placeholder="UserID: 10 numbers"/>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <button id="userConfButton" class="pull-right btn  btn-info" onclick="return false;">进入系统</button>
                    </td>
                </tr>
            </table>
          </fieldset></form>
        </td></tr>
      </table>
    </td>
  </tr>
</table>
</div>
</div>
<!--end of module2-->
  <div class="module">
    <div class="module-head">
      <h3>书籍查询</h3>
    </div>
    <div class="module-body">
  <table class="widget widget-menu unstyled" id="opTable">
    <tr>
      <td >
        <table>
          <tr><td >
            <iframe id="submitFrame" style="display: none; width:100%; height:100%" name="submitFrame" src="about:blank"></iframe>
          <!--增加书籍-->
          <form id="inputForm" target="submitFrame"><fieldset>
              {% csrf_token %}
              
              <table>
                  <tr>
                      <td>
                        <input type="text" name="bookname" id="bookname" placeholder="Name" />
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <input type="text" name="bookisbn" id="bookisbn" placeholder="ISBN:x-xx-xx-xx"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <input type="text" name="publisher" id="publisher" placeholder="Publisher"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <input type="text" name="author" id="author" placeholder="Author"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <input type="text" name="booktag" id="booktag" placeholder="Tag"/>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <button id="borrowButton" class="pull-right btn  btn-info" onclick="return false;">书籍借阅</button>
                          <button id="returnButton" class="pull-right btn  btn-info" onclick="return false;">书籍归还</button>
                          <button id="searchBookButton" class="pull-right btn  btn-info" onclick="return false;">查询书籍</button>
                      </td>
                  </tr>
              </table>
            </fieldset></form>
          </td></tr>
        </table>
      </td>
    </tr>
  </table>
  </div>
  </div>
  <!--end of module1-->

    </div>
                            <!--end of span3-->
  <!-- 查询文件列表表格 -->
  <div class="span9">
  <div class="content">
  
<!--module：读者查询结果-->
  <div class="module">
    <div class="module-head">
      <h3>个人信息</h3>
    </div>
    <div class="module-body ">

    <table class='table table-striped table-bordered table-condensed' style="BORDER-COLLAPSE: collapse" cellSpacing=1 cellPadding=0 border=0 style="width: 100%; height: 100%;">
      <tr>
        <td>
          <table cellSpacing=1 cellPadding=0 width="100%" style="align-self: center; border: 1px;">
              
              <tr>
                <td width="25%"  style="font-size: 16;">Name</td>
                <td width="25%"  style="font-size: 16;">UserID</td>
                <td width="25%" style="font-size: 16;">Type</td>
                <td width="25%"  style="font-size: 16;">PhoneNumber</td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
            <div style="OVERFLOW: auto; WIDTH: 100%; ">
              <table style="BORDER-COLLAPSE: collapse" cellSpacing=1 cellPadding=0 width="100%" id="userTable" class="mytable">
              </table>
            </div>
        </td>
      </tr>
      <tr>
        <td>
          <table cellSpacing=1 cellPadding=0 width="100%" style="align-self: center; border: 1px;">
              <tr>
                <td width="100%"  style="font-size: 16;">当前借阅</td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
            <div style="OVERFLOW: auto; WIDTH: 100%; ">
              <table style="BORDER-COLLAPSE: collapse" cellSpacing=1 cellPadding=0 width="100%" id="curTable" class="mytable">
              </table>
            </div>
        </td>
      </tr>
      <tr>
        <td>
          <table cellSpacing=1 cellPadding=0 width="100%" style="align-self: center; border: 1px;">
              <tr>
                <td width="100%"  style="font-size: 16;">借阅历史</td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
            <div style="OVERFLOW: auto; WIDTH: 100%; ">
              <table style="BORDER-COLLAPSE: collapse" cellSpacing=1 cellPadding=0 width="100%" id="hisTable" class="mytable">
              </table>
            </div>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
    </div>
  </div>
  <!--module：书籍查询结果-->
  <div class="module">
    <div class="module-head">
      <h3>书籍查询结果列表</h3>
    </div>
    <div class="module-body ">

    <table class='table table-striped table-bordered table-condensed' style="BORDER-COLLAPSE: collapse" cellSpacing=1 cellPadding=0 border=0 style="width: 100%; height: 100%;">
      <tr>
        <td>
          <table cellSpacing=1 cellPadding=0 width="100%" style="align-self: center; border: 1px;">
              
              <tr>
                <td width="15%"  style="font-size: 16;">Name</td>
                <td width="15%"  style="font-size: 16;">BookID</td>
                <td width="10%" style="font-size: 16;">ISBN</td>
                <td width="20%"  style="font-size: 16;">Publisher</td>
                <td width="10%" style="font-size: 16;">Date</td>
                <td width="10%" style="font-size: 16;">Author</td>
                <td width="10%"  style="font-size: 16;">Tag</td>
                <td width="10%"  style="font-size: 16;">Stock</td>
              </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
            <div style="OVERFLOW: auto; WIDTH: 100%; ">
              <table style="BORDER-COLLAPSE: collapse" cellSpacing=1 cellPadding=0 width="100%" id="fileTable" class="mytable">
              </table>
            </div>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
    </div>
  </div>
  <!--end of 查询结果module-->
                            <!--/.module-->
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                    
                </div>
                <!--row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <b class="copyright">&copy; PB18111688@chuqingG </b>All rights reserved.
            </div>
        </div>



<!--查找书籍-->
<script>
$("#searchBookButton").click(function () {
    $.ajax({
        url: '/search_book',
        type: 'post',
        data: {
          bookname: $("#bookname").val(),
          isbn: $("#bookisbn").val(),
          author: $("#author").val(),
          booktag: $("#booktag").val(),
          publisher: $("#publisher").val(),
        },
        success: function (data) {
          booklist = data['bookdf']
          listbook();
        },
    })
})
</script>

<!--借阅书籍-->
<script>
  $("#borrowButton").click(function () {
      $.ajax({
          url: '/borrow_book',
          type: 'post',
          data: {
            bookname: $("#bookname").val(),
            isbn: $("#bookisbn").val(),
            author: $("#author").val(),
            booktag: $("#booktag").val(),
            publisher: $("#publisher").val(),
          },
          success: function (data) {
            booklist = data['bookdf']
            flag = data['flag']
            hislist = data['hislist']
            curlist = data['curlist']
            if(flag==0)
              alert(`借阅${booklist[0]['Name']}成功\n`)
              listcur();
              listhis();
              listbook();
            if(flag==1)
              alert(`借阅失败，查询范围不止一本书\n`)
              listbook();
            if(flag==2)
              alert(`还没有登录，不能借阅\n`)
              listbook();
            if(flag==3)
              alert(`借阅失败，该书籍无库存\n`)
              listbook();
            if(flag==4)
              alert(`借阅失败，您已达到借阅上限\n`)
              listbook();
          },
      })
  })
  </script>

<!--归还书籍-->
<script>
  $("#returnButton").click(function () {
      $.ajax({
          url: '/return_book',
          type: 'post',
          data: {
            bookname: $("#bookname").val(),
            isbn: $("#bookisbn").val(),
            author: $("#author").val(),
            booktag: $("#booktag").val(),
            publisher: $("#publisher").val(),
          },
          success: function (data) {
            booklist = data['bookdf']
            flag = data['flag']
            hislist = data['hislist']
            curlist = data['curlist']
            if(flag==0)
              alert(`归还${booklist[0]['Name']}成功\n`)
              listcur();
              listhis();
              listbook();
            if(flag==1)
              alert(`借阅失败，查询范围不是一本书\n`)
              listbook();
            if(flag==2)
              alert(`还没有登录，不能还书\n`)
              listbook();
            if(flag==3)
              alert(`还书失败，您当前未借阅这本书\n`)
              listbook();
          },
      })
  })
  </script>

<!--查找读者-->
<script>
$("#userConfButton").click(function () {
    $.ajax({
        url: '/user_confirm',
        type: 'post',
        data: {
          username: $("#username").val(),
          uid: $("#uid").val(),
        },
        success: function (data) {
          userlist = data['userdf']
          flag = data['flag']
          hislist = data['hislist']
          curlist = data['curlist']
          if(flag==true)
            console.log("confirm: "+userlist[0]['Name']+" history")
            listuser();
            listcur();
            listhis();
          if(flag==false)
            alert(`找不到相关读者信息\n请重新输入\n`)
        },
    })
})
</script>

</body>
      
</html>